<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Shuttle To/From Ceremony</h4>
    </div>
    <div class="modal-body">
      <p>We have chartered a shuttle to bring people back and forth between 
      the hotel and the ceremony. If you would like to use the shuttle, please reserve
      your pickup times.</p>
      <p><b>To Ceremony:</b><br/>
        <form id="toSelect" class="form-group">
          {{#each model.shuttleTo as |choice|}}
          <div class="radio">
            <label>
              {{#if (greater model.guest.attendingNum choice.seatsFree)}}
                <input type="radio" id="shuttleTo{{choice.id}}" name="shuttleTo" value="{{choice.id}}" disabled/>&nbsp;{{choice.time}} (FULL)
              {{else}}
                <input type="radio" id="shuttleTo{{choice.id}}" name="shuttleTo" value="{{choice.id}}"/>&nbsp;{{choice.time}}
              {{/if}}
            </label>
          </div>
          {{/each}}
          <div class="radio">
            <label>
              <input type="radio" id="shuttleToNone" name="shuttleTo" value="-1" checked/>&nbsp;No shuttle
            </label>
          </div>
        </form>
      </p>
      <p><b>From Ceremony:</b><br/>
        <form id="fromSelect" class="form-group">
          {{#each model.shuttleFrom as |choice|}}
          <div class="radio">
            <label>
              {{#if (greater model.guest.attendingNum choice.seatsFree)}}
                <input type="radio" id="shuttleFrom{{choice.id}}" name="shuttleFrom" value="{{choice.id}}" disabled/> &nbsp;{{choice.time}} (FULL)
              {{else}}
                <input type="radio" id="shuttleFrom{{choice.id}}" name="shuttleFrom" value="{{choice.id}}"/> &nbsp;{{choice.time}}
              {{/if}}
            </label>
          </div>
          {{/each}}
          <div class="radio">
            <label>
              <input type="radio" id="shuttleFromNone" name="shuttleFrom" value="-1" checked/>&nbsp;No shuttle
            </label>
          </div>
        </form>
      </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action "next"}}>Next</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
