<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Shuttle To/From Ceremony</h4>
    </div>
    <div class="modal-body">
      <p>We have chartered a shuttle to bring people back and forth between 
      the hotel and the ceremony. If you would like to use the shuttle, please reserve
      your pickup times.</p>
      <p><b>To Ceremony:</b><br/>
        <form id="toSelect" class="form-group">
          {{#each model.shuttleTo as |choice index|}}
          <div class="radio">
            <label><input type="radio" id="shuttleTo{{index}}" name="shuttleTo" value="{{index}}"/>
              {{#if (greater model.guest.attendingNum choice.seatsFree)}}
                <input type="radio" id="shuttleTo{{index}}" name="shuttleTo" value="{{index}}" disabled/>&nbsp;{{choice.time}} (FULL)
              {{else}}
                <input type="radio" id="shuttleTo{{index}}" name="shuttleTo" value="{{index}}"/>&nbsp;{{choice.time}}
              {{/if}}
            </label>
          </div>
          {{/each}}
        </form>
      </p>
      <p><b>From Ceremony:</b><br/>
        <form id="fromSelect" class="form-group">
          {{#each model.shuttleFrom as |choice index|}}
          <div class="radio">
            <label>
              {{#if (greater model.guest.attendingNum choice.seatsFree)}}
                <input type="radio" id="shuttleFrom{{index}}" name="shuttleFrom" value="{{index}}" disabled/> &nbsp;{{choice.time}} (FULL)
              {{else}}
                <input type="radio" id="shuttleFrom{{index}}" name="shuttleFrom" value="{{index}}"/> &nbsp;{{choice.time}}
              {{/if}}
            </label>
          </div>
          {{/each}}
        </form>
      </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action "next"}}>Next</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
